*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.logo {
    height: 30px;
}

.header {
    background-color: #2E323F;
    color: white;
    padding: 0.7em 0;
    text-align: center;
}

.container {
    width: 86%;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 0.9rem;
}

.nav-list,
.nav-list__sign {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.nav-item + .nav-item {
    margin-left: 1.6rem;
}

.nav-list__sign {
    margin-left: 2.6rem;
}

.hero {
    background-color: #3B4050;
    color: #FFFFFF;
    padding: 2em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-text {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.colored {
    color: #A59678;
}

.details {
    margin-bottom: 1.6rem;
}
.learn {
    background-color: #A59678;
    color: #FFFFFF;
    padding: 0.9em 1.1em;
    font-size: 1.1rem;
    border-radius: 26px;
    text-transform: uppercase;
    border: none;
}



.web-img {
    width: 100%;
}




