*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.logo {
    height: 30px;
}

.header {
    background-color: #2E323F;
    color: white;
    padding: 0.7em 0;
    text-align: center;
}

.container {
    width: 86%;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 0.9rem;
}

.nav-list,
.nav-list__sign {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.nav-item + .nav-item {
    margin-left: 1.6rem;
}

.nav-list__sign {
    margin-left: 2.6rem;
}

.hero {
    background-color: #3B4050;
    color: #FFFFFF;
    padding: 2em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-text {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.colored {
    color: #A59678;
}

.details {
    margin-bottom: 1.6rem;
}
.learn {
    background-color: #A59678;
    color: #FFFFFF;
    padding: 0.9em 1.1em;
    font-size: 1.1rem;
    border-radius: 26px;
    text-transform: uppercase;
    border: none;
}

.first-content {
    background-color: #e3e6eb;
    color: black;
    padding: 3em 0;
    text-align: center;
}

.first {
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 0.85rem;
    color: #A59678;
}
.content {
    line-height: 1.5;
}

.second-content {
    padding: 3em 0;
}

.second-details {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.side-section {
    text-align: center;
    background-color: #3B4050;
    color: #FFFFFF;
    padding: 2em;
    margin-bottom: 2rem;
}

.side-title {
    margin-bottom: 1.3rem;
}

.side-content {
    line-height: 1.4;
    font-size: 1.35rem;
}

.footer {
    background-color: #2E323F;
    color: #FFFFFF;
    padding: 3em 0;
}

.footer-title {
    margin-bottom: 1.4rem;
}

.column-title {
    margin-bottom: 0.7rem;
    color: #A59678;
}
.footer-content {
    margin-bottom: 1.2rem;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 1.4rem;
}

.column-item {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.column-item:hover {
    text-decoration: underline;
}

.web-img {
    width: 100%;
}




